@tailwind base;
@tailwind components;
@tailwind utilities;

/* Specifying ChunkFive as custom font */
@font-face {
  font-family: "ChunkFive Ex";
  src: url("../../public/static/fonts/Chunkfive.ttf");
  font-weight: 400;
  font-style: regular;
}

/* Specifying Montserrat as custom font */
@font-face {
  font-family: "Montserrat";
  src: url("../../public/static/fonts/Montserrat-Regular.ttf");
  font-weight: 400;
  font-style: regular;
}

@font-face {
  font-family: "Montserrat";
  src: url("../../public/static/fonts/Montserrat-Medium.ttf");
  font-weight: 500;
  font-style: medium;
}

@font-face {
  font-family: "Montserrat";
  src: url("../../public/static/fonts/Montserrat-ExtraBold.ttf");
  font-weight: 800;
  font-style: extrabold;
}

html,
body {
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 500px;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 1000;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE e Edge */
  scrollbar-width: none; /* Firefox */
}

textarea::placeholder,
input::placeholder {
  color: #757575;
}
